<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chatroom by BuriBuri</title>
	<script src="../js/socket.io.js" defer='defer'></script>
	<script src="../js/chatroom.js" defer='defer'></script>
	<link rel="stylesheet" href="../css/chatroomStyle.css">
	<link rel="shortcut icon" type="image/ico" href="favicon.ico">
</head>
<body>
	<div id="userList">User</div>
	<div id="viewArea">View</div>
	<div id="inputArea">
		<div id="textArea"></div>
		<button id="sendBtn">发送</button>
	</div>
</body>
</html>