<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Entrance</title>
	<link rel="stylesheet" href="../stylesheets/entrance.css">
	<script src="../javascripts/entrance.js" async></script>
</head>
<body>
	<img id="logo" src="../images/logo.jpg" alt="the Logo of the Website">
	<!-- <div id="loginBox"> -->
	<form id="entranceForm" action="theHall" method="post">
		Username:<input type="text" name="username" maxlength="10" />
		<!-- 密  码:<input type="password" name="password"/>		 -->
		<button type="submit">Enter</button>	
	</form>
</body>
</html>